<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>sample</title>
        <link href="static/flaskstyle.css" rel="stylesheet">
        <script type="text/javascript" src="/templates/flaskscript.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class ="Hide">
    <nav>
        <div class="navbar">
          <div class="container nav-container">
              <input class="checkbox" type="checkbox" name="" id="Toggle" label="Toggle"/>
              <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
              </div>  
            <div class="logo">
              <h1>Whats Python?</h1>
            </div>
            <div class="menu-items">
              <li><a href="{{ url_for('index')}}">Home</a></li>
              <li><a href="{{ url_for('basics')}}">Python Basics</a></li>
              <li><a href="{{ url_for('uses')}}">Python Uses</a></li>
              <li><a href="{{ url_for('libraries')}}">Python Libraries</a></li>
              <li><a href="{{ url_for('credit')}}">Credits</a></li>
            </div>
          </div>
        </div>
      </nav>
    <div class="BasicB1">
      <div class="box effect1">
      <p class="PFormatted">Python Arrays:</p>
      </div>
    </div>

    <div class="BasicB2">
      <div class="box effect1">
      </div>
    </div>

    <div class="BasicB3">
      <div class="box effect1">
      </div>
    </div>

</html>