<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>sample</title>
        <link href="static/flaskstyle.css" rel="stylesheet">
        <script type="text/javascript" src="/templates/flaskscript.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <nav>
        <div class="navbar">
          <div class="container nav-container">
              <input class="checkbox" type="checkbox" name="" id="" />
              <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
              </div>  
            <div class="logo">
              <h1>Whats Python?</h1>
            </div>
            <div class="menu-items">
              <li><a href="#">Home</a></li>
              <li><a href="#">Python Basics</a></li>
              <li><a href="#">Python Uses</a></li>
              <li><a href="#">Python Libraries</a></li>
              <li><a href="#">Credits</a></li>
            </div>
          </div>
        </div>
      </nav>
  

 

</body>
</html>