<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>sample</title>
        <link href="static/flaskstyle.css" rel="stylesheet">
        <!-- CSS only Boostrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
         <!-- JavaScript Bundle with Popper Bootstrap -->
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/templates/flaskscript.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class ="Hide">
    <nav>
        <div class="navbar">
          <div class="container nav-container">
              <input class="checkbox" type="checkbox" name="" id="Toggle" label="Toggle"/>
              <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
              </div>  
            <div class="logo">
              <h1>Whats Python?</h1>
            </div>
            <div class="menu-items">
                <li><a href="{{ url_for('index')}}">Home</a></li>
                <li><a href="{{ url_for('basics')}}">Python Basics</a></li>
                <li><a href="{{ url_for('uses')}}">Python Uses</a></li>
                <li><a href="{{ url_for('libraries')}}">Python Libraries</a></li>
                <li><a href="{{ url_for('credit')}}">Credits</a></li>
            </div>
          </div>
        </div>
      </nav>

      <div class="BasicB1">
        <div class="box effect1">
          <p class="PFormatted"><b>Python Libraries:</b></p>
          <br>
            <ul class="a">
                <li>TensorFlow</li>
                <li>Scikit</li>
                <li>Numpy</li>
                <li>Keras</li>
                <li>PyTorch</li>
                <li>LightGBM</li>
                <li>Eli5</li>
                <li>SciPy</li>
                <li>Pandas</li>
            </ul>
        </div>
      </div>

      <div class="BasicB2">
        <div class="box effect1">
          <br>
            <p class="PFormatted"><b>TensorFlow:</b></p>
            <br>
            <p class="PFormatted">
              TensorFlow is a free, open-source software library for machine learning
              and AI. It can be used across a plethora of tasks such as training and inference of deep
              neural networks. 
            </p>
            <br>
            <p class="PFormatted"><b><a href="https://www.tensorflow.org/">TensorFlow website:</b></a></p>
        </div>
      </div>

      <div class="BasicB3">
        <div class="box effect1">
          <br>
            <p class="PFormatted"><b>Scikit-learn:</b></p>
            <br>
            <p class="PFormatted">
            Scikit-learn is a free software machine learning library for Python. Scikit-learn features
            classification, regression and clustering algorithms as well as support-vector machines, random
            forests, gradient boosting, K-means and much more. 
            </p>
            <br>
            <p class="PFormatted"><b><a href="https://scikit-learn.org/stable/">Scikit-learn website:</b></a></p>
        </div>
      </div>

      <div class="BasicB3">
        <div class="box effect1">
          <br>
            <p class="PFormatted"><b>Numpy:</b></p>
            <br>
            <p class="PFormatted">
            Numpy is the fundamental package for scientific
            computing in Python. It is a Python library that provides
            multidimensional array object.
            </p>
            <br>
            <p class="PFormatted"><b><a href="https://numpy.org/doc/stable/index.html">Numpy website:</b></a></p>
        </div>
      </div>

      <div class="BasicB3">
        <div class="box effect1">
          <br>
            <p class="PFormatted"><b>Keras:</b></p>
            <br>
            <p class="PFormatted">
            Keras is an open-source software library that
            provies a Python interface for artificial neural
            networks. 
            </p>
            <br>
            <p class="PFormatted"><b><a href="https://keras.io/">Keras website:</b></a></p>
        </div>
      </div>

      <div class="BasicB3">
        <div class="box effect1">
          <br>
            <p class="PFormatted"><b>PyTorch:</b></p>
            <br>
            <p class="PFormatted">
            PyTorch is a machine learning framework based
            on the Torch library, used for applications
            such as computer vision and natural language
            processing.
            </p>
            <br>
            <p class="PFormatted"><b><a href="https://pytorch.org/">PyTorch website:</b></a></p>
        </div>
      </div>

      <div class="BasicB3">
        <div class="box effect1">
          <br>
            <p class="PFormatted"><b>LightGBM:</b></p>
            <br>
            <p class="PFormatted">
            LightGBM is a gradient boosting framework that uses tree-
            based learning algorithms. It is designed to be distributed
            and efficient.
            </p>
            <br>
            <p class="PFormatted"><b><a href="https://lightgbm.readthedocs.io/en/v3.3.2/">LightGBM website:</b></a></p>
        </div>
      </div>

      <div class="BasicB3">
        <div class="box effect1">
          <br>
            <p class="PFormatted"><b>Eli5:</b></p>
            <br>
            <p class="PFormatted">
            Eli5 is a Python library which allows to visualize
            and debug various Machine Learning models using
            unified API.
            </p>
            <br>
            <p class="PFormatted"><b><a href="https://eli5.readthedocs.io/en/latest/">Eli5 website:</b></a></p>
        </div>
      </div>

      <div class="BasicB3">
        <div class="box effect1">
          <br>
            <p class="PFormatted"><b>SciPy:</b></p>
            <br>
            <p class="PFormatted">
            SciPy provides algorithms for optimization, integration, 
            interpolation, eigenvalue problems, 
            algebraic equations, differential equations,
            statistics and many other classes of problems.
            </p>
            <br>
            <p class="PFormatted"><b><a href="https://scipy.org/">SciPy website:</b></a></p>
        </div>
      </div>

      <div class="BasicB3">
        <div class="box effect1">
          <br>
            <p class="PFormatted"><b>Pandas:</b></p>
            <br>
            <p class="PFormatted">
            pandas is a fast, powerful, flexible and easy to use open source 
            data analysis and manipulation tool, built on top of the Python 
            programming language.
            </p>
            <br>
            <p class="PFormatted"><b><a href="https://pandas.pydata.org/">Pandas website:</b></a></p>
        </div>
      </div>

      <div id="banner-wrap">
        <div id="banner">
        </div>
      </div>

</html>